#include "lang.bi"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
BEGIN
    ABOUT_ME      "Command line program to change screen resolution, colour depth and refresh\n        frequency"
    USAGE         "USAGE"
    hXXXX         "Horizontal size of screen in pixels"         
    vXXXX         "Vertical size of screen in pixels"         
    bXX           "Bit (colour) depth such as 8, 16 24, 32 "   
    fXX           "Refresh frequncy in Hertz, e.g. 60, 75, 85 "
    EXAMPLES      "EXAMPLES"
    WARNING       "WARNING"
    THE_WARNING   "SETRES does not check the capabilities of your hardware. Windows\n        is supposed to reject unsupported settings but do not rely on this.\n        If you specify unsupported settings, I WILL NOT ACCEPT RESPONSIBILITY\n        FOR THE CONSEQUENCES."
    
    dcSUCCESSFUL  "The settings change was successful."
    dcBADDUALVIEW "The settings change was unsuccessful because the system is DualView capable."
    dcBADFLAGS    "An invalid set of flags was passed in."
    dcBADMODE     "The graphics mode is not supported."     
    dcBADPARAM    "An invalid parameter was passed in. This can include an invalid flag or\n        combination of flags."
    dcFAILED      "The display driver failed the specified graphics mode."
    dcNOTUPDATED  "Unable to write settings to the registry."
    dcRESTART     "The computer must be restarted for the graphics mode to work."
    dcUNKNOWN     "An unknown error occurred."
    WRONG_NUMBER  "ERROR: Wrong number of command line parameters supplied."
    UNRECOGNISED  "ERROR: Unrecognised parameter supplied"
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
STRINGTABLE
BEGIN
    ABOUT_ME    "一个更改屏幕分辨率、色深和刷新频率的命令行程序。"
    USAGE       "用法"
    hXXXX       "屏幕的水平尺寸（像素）"         
    vXXXX       "屏幕垂直尺寸（像素）"         
    bXX         "比特（色彩）深度，如 8、16 24、32"   
    fXX         "刷新频率（赫兹），例如 60、75、85"
    EXAMPLES    "例如"
    WARNING     "警告"
    THE_WARNING "SETRES 不检查硬件功能。Windows 应该会拒绝不支持的设置，但请不要依赖这\n        一点。如果你指定了不支持的设置，并且在硬件损坏的情况下，我将不承担责任。"

    dcSUCCESSFUL  "设置更改成功。"
    dcBADDUALVIEW "设置更改失败，因为系统支持 DualView。"
    dcBADFLAGS    "传入了一组无效的标志。"
    dcBADMODE     "不支持图形模式。"
    dcBADPARAM    "传入了无效参数。 这可以包括无效标志或标志组合。"
    dcFAILED      "显示驱动程序未通过指定的图形模式。"
    dcNOTUPDATED  "无法将设置写入注册表。"
    dcRESTART     "必须重启计算机才能使图形模式正常工作。"
    dcUNKNOWN     "未知错误。"
    WRONG_NUMBER  "错误：提供的命令行参数数量错误。"
    UNRECOGNISED  "错误：提供了无法识别的参数。"
END